@using NOSNewDO
@{
    ViewBag.Title = "Manage Training Partner";
    //Layout = null;
    Layout = "~/Views/Shared/_NosNewLayout.cshtml";
}
<link href="~/Content/styles-1.css" rel="stylesheet" media="all" />
<link href="~/Content/Styles.css" rel="stylesheet" media="all" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@*<script src="~/Scripts/jquery-1.9.0.min.js"></script>*@
<script src="~/Scripts/jquery.jqGrid.js"></script>
<script src="~/Scripts/grid.locale-en.js"></script>
<link href="~/Content/JQGridReq/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
<link href="~/Content/JQGridReq/ui.jqgrid.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        overflow: hidden;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px;
    }
</style>

<script type="text/javascript">
    function allow(e, str) {

        var key;
        var keychar;

        if (window.event) {
            key = window.event.keyCode;
        }
        else if (e) {
            key = e.which;
        }
        else {
            return true;
        }
        keychar = String.fromCharCode(key);
        if ((key == null) || (key == 0) || (key == 8) || (key == 9) || (key == 13) || (key == 27)) {
            return true;
        }
        else if (str == '') {
            return true;
        }
        else if (((str).indexOf(keychar) > -1)) {
            return true;
        }
        else {
            return false;
        }
    }


    $(document).ready(function () {
        //BindSearchResult();

        $("#btnSearch").on("click", function () {
            BindSearchResult();
        });


        var sscId = "";

        function BindSearchResult() {
            var tpName = "", tpCode = "", stateList = "", cityList = "", tpId = 0;
            
            tpName = document.getElementById("txtTPName").value;
            tpCode = document.getElementById("txtTPCode").value;
            stateList = $("#ddlStateList option:selected").text();
            //stateList = document.getElementById("ddlStateList").value;
            cityList = document.getElementById("txtCityList").value;

            tpSearchDetail = [];
            tpSearchDetail.push({
                "TrainingPartnerName": tpName,
                "TrainingPartnerCode": tpCode,
                "StateId": stateList,
                "City": cityList,
                "id": tpId

            });
            $.ajax({
                url: "../TrainingPartner/SearchTrainingPartnerDetail",
                type: 'post',
                data: JSON.stringify({ 'tpSearchDetail': tpSearchDetail }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (d) {
                    var result = JSON.stringify(d);
                    if (result != null) {
                        $("#lblValResult").innerHTML = "";
                        $('#EmpTable').jqGrid('GridUnload');
                        jQuery("#EmpTable").jqGrid({
                            datatype: "local",
                            colNames: ["TrainingPartner Id", "TP Name", "TP Code", "POC Name", "TP Address", "TP Description", "No of Centers", "POC MobileNo", "City", "StateId", "Delete",

                            ],
                            colModel: [
                                    { name: "TrainingPartnerId", index: "TrainingPartnerId", width: 100, align: "center", hidden:true},
                                    { name: "TrainingPartnerName", index: "TrainingPartnerName", width: 150, align: "center", formatter: addLink },
                                    { name: "TrainingPartnerCode", index: "TrainingPartnerCode", width: 100, align: "center", },
                                    { name: "POCName", index: "POCName", width: 150, align: "center", },
                                    { name: "TPAddress", index: "TPAddress", width: 150, align: "center", },
                                    { name: "TPDescription", index: "TPDescription", width: 200, align: "center", },
                                    { name: "NoOfCenters", index: "NoOfCenters", width: 100, align: "center", },
                                    { name: "POCMobileNo", index: "POCMobileNo", width: 100, align: "center", },
                                    { name: "City", index: "City", width: 150, align: "center", },
                                    { name: "StateId", index: "StateId", width: 100, align: "center", },
                                    { name: "Delete", index: "Delete", width: 50, align:"center", formatter: addImageForDelete }

                            ],
                            data: JSON.parse(result), //Load Data
                            loadonce: true,
                            rowList: [5, 10, 20],
                            rowNum: 10, //Total records to display by default
                            pager: '#EmpPager',
                            viewrecords: true,
                            sortorder: 'asc',
                            gridview: true,
                            sortname: 'FirstName',
                            height: 'auto',
                            altRows: true,
                            hoverrows: true,
                            caption: "Training Partner Details"
                        });
                        jQuery("#EmpTable").jqGrid('navGrid', '#EmpPager', { del: false, add: false, edit: false }, {}, {}, {}, { multipleSearch: false });
                    } else {
                        $("#lblValResult").innerHTML = "No Data Found.";
                        $('#EmpTable').jqGrid('GridUnload');
                    }
                }
            });
        }
        function addImageForDelete(cellvalue, options, rowObject) {
            var TrainingPartnerId = rowObject.TrainingPartnerId;
            return "<input type=\"image\" name=\"imgDelete\" id=\"imgDelete_" + TrainingPartnerId + "\" title=\"Click to delete this record\" src=\"../Content/MovetoBin.GIF\" onclick=\"return ConfirmDelete('TrainingPartner');\" style='border-width:0px;'>";
        }

        $("#btnClearSearch").on("click", function () {
            window.open("../TrainingPartner/ManageTrainingPartner", '_self', false);
        });

    });

    function addLink(cellvalue, options, rowObject) {

        var TrainingPartnerId = rowObject.TrainingPartnerId;

        return "<a href='#' class='ManageTrainingPartner' id='ManageTrainingPartner_" + options.rowId + "_" + TrainingPartnerId + " ' style='height:25px;width:120px;' type='button' title='Manage Training Partner' onclick=\"ViewTPDetails(" + TrainingPartnerId + ")\" >" + rowObject.TrainingPartnerName + "</a>";

    }
    function ViewTPDetails(TrainingPartnerId) {
      
        window.open("/TrainingPartner/UpdateTrainingPartner?TrainingPartnerId=" + TrainingPartnerId, "_self");
        //window.open("/TrainingPartner/EditTPDetails?TrainingPartnerId=" + TrainingPartnerId, "_self");
    }

    function ConfirmDelete(msg) {
        return confirm("Are you sure you want to delete " & msg);
    }
</script>

<div class="col-lg-12">
    @{
        IEnumerable<StateListDO> stateList = ViewData["StateList"] as IEnumerable<StateListDO>;

    }
    @using (Html.BeginForm("ManageTrainingPartner", "TrainingPartner", FormMethod.Post))
    {
        <div class="page-header filled full-block light" style="margin-top:10px;">
            <div class="row">
                <h2 style="text-align:center; color:#92298e ; font-family:Calibri; font-size:25px; font-weight:bold; text-transform:uppercase;">Manage Training Partner</h2>

                <table width="60%" align="center">
                    <tr>
                        <td align="left">
                            <div>
                                <label style="font-weight:bold;color:red;font-size:11px;" id="lblValMessage"></label>
                            </div>
                        </td>
                        <td align="right">
                            <div>
                                @Html.ActionLink("Create Training Partner", "CreateTrainingPartner", "TrainingPartner", new { TrainingPartnerId = 0 }, null)
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="60%" align="center">
                    <tr>
                        <td class="pplBG">
                            <span>&nbsp;Search Training Partner</span>
                        </td>
                        <td align="right"></td>
                    </tr>
                </table>
                <input type="hidden" id="hdnTrainingPartnerId" />

                <table width="60%" align="center" class="tablesideborders">
                    <tr>
                        <td width="12%" class="shaalatxtright" style="height:26px;">
                            TP Name
                        </td>
                        <td width="22%">
                            @Html.TextBox("txtTPName", null, new { @class = "usertextbox", id = "txtTPName", maxlength = "50", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz ');" })
                        </td>
                        <td width="12%" class="shaalatxtright"> TP Code </td>
                        <td width="22%">
                            @Html.TextBox("txtTPCode", null, new { @class = "usertextbox", id = "txtTPCode", maxlength = "50", onkeypress = "return allow(event, ' ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789');" })
                        </td>
                    </tr>

                   <br/>
                    
                    <tr>

                        <td width="12%" class="shaalatxtright"> State </td>
                        <td width="22%">
                            @Html.DropDownList("ddlStateList", new SelectList(stateList, "StateId", "StateName"), "-----Select-----", new { @class = "blueDropdown" })
                        </td>
                        <td width="12%" class="shaalatxtright"> City </td>
                        <td width="22%">
                            @Html.TextBox("txtCityList", null, new { @class = "usertextbox", id = "txtCityList", maxlength = "50", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz ');" })
                        </td>
                    </tr>

                </table>

                <br />
                <table width="60%" align="center">

                    <tr><td style="height:10px;"></td></tr>
                    <tr>
                        <td align="center">
                            <input type="button" value="Clear" class="btn-report" id="btnClearSearch" />&nbsp;&nbsp;&nbsp;
                            <input type="button" value="Search" class="btn-report" id="btnSearch" />
                        </td>
                    </tr>
                </table>
                <br />

                <table width="60%" align="center">
                    <tr>
                        <td width="100%">
                            <div class='content' id="divForSchoolResult">
                                <div style="padding-left:50px;">
                                    <label style="font-weight:bold;color:red;font-size:11px;" id="lblValResult"></label>
                                </div>
                                <table id="EmpTable"></table>
                                <div id="EmpPager">
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    }
</div>