@using NOSNewDO
@{
    ViewBag.Title = "Create Training Location";
    //Layout = null;
    Layout = "~/Views/Shared/_NosNewLayout.cshtml";
}
<link href="~/Content/styles-1.css" rel="stylesheet" media="all" />
<link href="~/Content/Styles.css" rel="stylesheet" media="all" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@*<script src="~/Scripts/jquery-1.9.0.min.js"></script>*@
<script src="~/Scripts/jquery.jqGrid.js"></script>
<script src="~/Scripts/grid.locale-en.js"></script>
<link href="~/Content/JQGridReq/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
<link href="~/Content/JQGridReq/ui.jqgrid.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function allow(e, str) {

        var key;
        var keychar;

        if (window.event) {
            key = window.event.keyCode;
        }
        else if (e) {
            key = e.which;
        }
        else {
            return true;
        }
        keychar = String.fromCharCode(key);
        if ((key == null) || (key == 0) || (key == 8) || (key == 9) || (key == 13) || (key == 27)) {
            return true;
        }
        else if (str == '') {
            return true;
        }
        else if (((str).indexOf(keychar) > -1)) {
            return true;
        }
        else {
            return false;
        }
    }

    $(document).ready(function () {

        $("#txtStartDate").datepicker({ dateFormat: "yy/mm/dd" });
        $("#txtEndDate").datepicker({ dateFormat: "yy/mm/dd" });

        $("#ddlIdentificationType").on("change", function () {
            if ($("#ddlIdentificationType option:selected").attr("value") == "") {
                document.getElementById("lblValMessage").innerHTML = "Please select valid Identification Type";
                document.getElementById("tdForIdentification").setAttribute("style", "display:none;");
                document.getElementById("tdForIdentificationVal").setAttribute("style", "display:none");
            }
            else {
                document.getElementById("tdForIdentification").setAttribute("style", "display:block");
                document.getElementById("tdForIdentificationVal").setAttribute("style", "display:block");
                document.getElementById("tdForIdentification").innerHTML = $("#ddlIdentificationType option:selected").html();
                document.getElementById("lblValMessage").innerHTML = "";
            }
        });

        $("#ddlSSCList").on("change", function () {
            if ($("#ddlSSCList option:selected").attr("value") == "" || $("#ddlSSCList option:selected").attr("value") == "0") {
                $('#ddlJobRoleList').empty();
                $('#ddlAssessorList').empty();
            }
            else {
                $.ajax({
                    url: '../Student/GetJobRolesBySSCId',
                    type: 'post',
                    data: {
                        SSCId: $("#ddlSSCList option:selected").attr("value")
                    },
                    success: function (response) {

                        var $select = $('#ddlJobRoleList');
                        $select.empty();
                        $('<option>', {
                            value: 0
                        }).html("------Select------").appendTo($select);
                        $.each(response, function (i, jobrole) {
                            $('<option>', {
                                value: jobrole.GlobalJobRoleId
                            }).html(jobrole.JobRole).appendTo($select);
                        });

                    }
                });
            }
        });

        $("#ddlJobRoleList").on("change", function () {
            if ($("#ddlJobRoleList option:selected").attr("value") == "" || $("#ddlJobRoleList option:selected").attr("value") == "0") {
                $('#ddlAssessorList').empty();
            }
            else {
                var SSCID = 0, JobRoleId = 0;

                if ($("#ddlSSCList option:selected").attr("value") != "") {
                    SSCID = $("#ddlSSCList option:selected").attr("value");

                    if ($("#ddlJobRoleList option:selected").attr("value") != "") {
                        JobRoleId = $("#ddlJobRoleList option:selected").attr("value");
                    }
                    else {
                        JobRoleId = 0;
                    }
                } else {
                    SSCID = 0;
                    JobRoleId = 0;
                }

                OtherSpsParamsDetails = [];

                OtherSpsParamsDetails.push({
                    "InstanceId": 0,
                    "RoleName": "ASSESSOR",
                    "InstanceClassificationId": SSCID,
                    "InstanceSubClassificationId": JobRoleId
                });


                $.ajax({
                    type: "POST",
                    url: "../Student/GetAssessorListByJobRoleId",
                    data: JSON.stringify({ 'OtherSpsParamsDetails': OtherSpsParamsDetails }),//, 'ClasswiseAttendanceDetails': ClasswiseAttendanceDetails }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        var $select = $('#ddlAssessorList');
                        $select.empty();
                        $('<option>', {
                            value: 0
                        }).html("------Select------").appendTo($select);
                        $.each(response, function (i, jobrole) {
                            $('<option>', {
                                value: jobrole.RoleUserId
                            }).html(jobrole.RoleUserName).appendTo($select);
                        });

                    }
                });
            }
        });
    });
</script>

<div class="col-lg-12">
    @{
        IEnumerable<StateListDO> stateList = ViewData["StateList"] as IEnumerable<StateListDO>;

    }
    @using (Html.BeginForm("CreateTrainingLocation", "Admin", FormMethod.Post))
    {

        <div class="page-header filled full-block light" style="margin-top:10px;">
            <div class="row">
                <h2 style="text-align:center; color:#92298e ; font-family:Calibri; font-size:25px; font-weight:bold; text-transform: uppercase;">Manage Training Location</h2>

                <table width="60%" align="center">
                    <tr>
                        <td align="left">
                            <div>
                                <label style="font-weight:bold;color:red;font-size:11px;" id="lblValMessage"></label>
                            </div>
                        </td>
                        <td align="right">
                            <div>
                                @Html.ActionLink("Back to Search", "ManageTrainingLocation", "TrainingLocation")
                            </div>
                        </td>
                    </tr>
                </table>
                

                <table width="60%" align="center">
                    <tr>
                        <td class="pplBG">
                            <span>&nbsp;Create New Training Location</span>
                        </td>
                        
                        <td align="right"></td>
                    </tr>
                </table><br/>
                <table width="60%" align="center" class="tablesideborders">
                    <tr>
                        <td width="12%" class="shaalatxtright" style="height:26px;">
                            <font style="color:red;"></font>Location Name
                        </td>
                        <td width="22%">
                            @Html.TextBox("txtCandidateName", null, new { @class = "usertextbox", id = "txtCandidateName", maxlength = "50", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789');" })
                        </td>
                        <td width="12%" class="shaalatxtright"><font style="color:red;"></font>Location Code</td>
                        <td width="22%">
                            @Html.TextBox("txtStudentId", null, new { @class = "usertextbox", id = "txtStudentId", maxlength = "50", onkeypress = "return allow(event, '0123456789');" })
                        </td>
                    </tr>
                    <tr>
                        <td width="12%" class="shaalatxtright" style="height:26px;">
                            Class Strength
                        </td>
                        <td width="22%">
                            @Html.TextBox("txtCandidateName", null, new { @class = "usertextbox", id = "txtCandidateName", maxlength = "50", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789');" })
                        </td>
                        <td width="12%" class="shaalatxtright" id="tdForIdentification">Room Nos</td>
                        <td width="22%" id="tdForIdentificationVal">
                            @Html.TextBox("txtIndentificationID", null, new { @class = "usertextbox", id = "txtIndentificationID", maxlength = "12", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789');" })
                        </td>
                    </tr>
                    <tr>
                        <td width="12%" class="shaalatxtright" style="height:26px;">
                            <font style="color:red;"></font>Descriptions
                        </td>
                        <td width="22%">
                            @Html.TextBox("txtEnrollmentNum", null, new { @class = "usertextbox", id = "txtEnrollmentNum", maxlength = "50", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789');" })
                        </td>
                        <td width="12%" class="shaalatxtright">State </td>
                        <td width="22%">
                            @Html.DropDownList("ddlStateList", new SelectList(stateList, "StateId", "StateName"), "-----Select-----", new { @class = "blueDropdown" })
                        </td>
                        
                    </tr>
                   
                    <tr>
                        <td width="12%" class="shaalatxtright" style="height:26px;">
                            City
                        </td>
                        <td width="22%">
                           @Html.TextBox("txtCityList", null, new { @class = "usertextbox", id = "txtCityList", maxlength = "50", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz');" })
                        </td>
                        <td width="12%" class="shaalatxtright">Address </td>
                        <td width="22%">
                            @Html.TextBox("txtStudentId", null, new { @class = "usertextbox", id = "txtStudentId", maxlength = "50", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789');" })
                        </td>

                    </tr>

</table>
                <br />
                <table width="60%" align="center">

                    <tr><td style="height:10px;"></td></tr>
                    <tr>
                        <td align="center">
                            <input type="button" value="Clear" class="btn-report" id="btnClearSearch" />&nbsp;&nbsp;&nbsp;
                            <input type="button" value="Submit" class="btn-report" id="btnSubmit" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>
