@using NOSNewDO
@{
    ViewBag.Title = "Create Training Center";
    //Layout = null;
    Layout = "~/Views/Shared/_NosNewLayout.cshtml";
}
<link href="~/Content/styles-1.css" rel="stylesheet" media="all" />
<link href="~/Content/Styles.css" rel="stylesheet" media="all" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@*<script src="~/Scripts/jquery-1.9.0.min.js"></script>*@
<script src="~/Scripts/jquery.jqGrid.js"></script>
<script src="~/Scripts/grid.locale-en.js"></script>
<link href="~/Content/JQGridReq/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
<link href="~/Content/JQGridReq/ui.jqgrid.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        overflow: hidden;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px;
    }
</style>

<script type="text/javascript">
    function allow(e, str) {

        var key;
        var keychar;

        if (window.event) {
            key = window.event.keyCode;
        }
        else if (e) {
            key = e.which;
        }
        else {
            return true;
        }
        keychar = String.fromCharCode(key);
        if ((key == null) || (key == 0) || (key == 8) || (key == 9) || (key == 13) || (key == 27)) {
            return true;
        }
        else if (str == '') {
            return true;
        }
        else if (((str).indexOf(keychar) > -1)) {
            return true;
        }
        else {
            return false;
        }
    }
    var CenterApprovalDate;

    function InitCalendars() {

        if (document.getElementById('txtCADate') != undefined && document.getElementById('txtCADate') != null) {
            CenterApprovalDate = new Epoch('epoch_popup', 'popup', document.getElementById('txtCADate'));
        }
    }
    $(document).ready(function () {
        //InitCalendars();

        var TcName = "", tpId = 0, SmartId = "", sdmsId = "", TcAddress = "", TcDescription = "", TcStartdt = "", pocName = "",pocMobile = "",
           stateList = "", cityList = "", SSC = 0;

        $("#btnSubmit").on("click", function () {

            debugger;
            //if ($("#ddlSSCList option:selected").attr("value") != "") {
            //    SSC = $("#ddlSSCList option:selected").attr("value");
            //}

            TcName = document.getElementById("txtTCName").value;
            tpId = document.getElementById("txtTPId").value;
            SmartId = document.getElementById("txtSmartId").value;
            sdmsId = document.getElementById("txtSDMSID").value;
            pocName = document.getElementById("txtPOCName").value;
            TcAddress = document.getElementById("txtTCAddress").value;
            TcDescription = document.getElementById("txtTCDescription").value;
            CenterApprovalDate = document.getElementById("txtCADate").value;
            pocMobile = document.getElementById("txtPOCMobile").value;
            stateList = document.getElementById("ddlStateList").value;
            cityList = document.getElementById("txtCityList").value;

            var checkValidation = validateInputs();

            if (checkValidation) {

                document.getElementById("lblValMessage").innerHTML = "";


                var methodURL = "../TrainingCenter/SaveTrainingCenter";

                $.ajax({
                    type: "POST",
                    url: methodURL,
                    dataType: "text",
                    data: {
                        TrainingCenterName: TcName, TrainingPartnerId: tpId, TrainingCenterIDSmartID: SmartId, SDMSID: sdmsId, CenterAddress: TcAddress, CenterDescription: TcDescription,
                        TrainingCenterApprovalStartDate: TcStartdt, PocName: pocName, PocMobileNo:pocMobile,
                        StateId: stateList, City: cityList
                    },
                    success: function (g) {
                        debugger;

                        if (g == 1) {
                            document.getElementById("btnSubmit").disabled = true;
                            document.getElementById("lblValMessage").innerHTML = "Success! Training Center Created Successfully!";
                        }

                        else {
                            document.getElementById("btnSubmit").disabled = false;
                            document.getElementById("lblValMessage").innerHTML = "Unable to Create Training Center";
                        }

                        //alert("Success! Assessment asigned successfully!");
                    },
                    error: function (requestObject, error, errorThrown) {
                        debugger;
                        document.getElementById("lblValMessage").innerHTML = "Invalid";
                        ("Error");
                    }

                });

            }

        });

        function validateInputs() {
            debugger;
            var valMsg = "";
            var newline = "\r\n";

            if (TcName == "" && SmartId == "" && pocName == "" && pocMobile == "" && stateList == "") {
                alert("Please fill all mandatory fields.\n *TP Name\n *TP Code\n *POC Name\n *POC Mobile\n *State");
                valMsg += newline;
            }
            else {
                if (TcName == "") {
                    if (valMsg == "") {
                        valMsg = "Please enter TC Name";
                    } else {
                        valMsg = valMsg + ", TC Name";
                    }
                }

                if (SmartId == "") {
                    if (valMsg == "") {
                        valMsg = "Please enter SmartId";
                    } else {
                        valMsg = valMsg + ", SmartId";
                    }
                }

                if (pocName == "") {
                    if (valMsg == "") {
                        valMsg = "Please enter POC Name";
                    } else {
                        valMsg = valMsg + ", POC Name ";
                    }
                }

                if (pocMobile == "") {
                    if (valMsg == "") {
                        valMsg = "Please enter POC Mobile";
                    } else {
                        valMsg = valMsg + ",  POC Mobile";
                    }
                }

                if (stateList == 0) {
                    if (valMsg == "") {
                        valMsg = "Please select State.";
                    } else {
                        valMsg = valMsg + ", State.";
                    }
                }
            }

            if (valMsg == "") {
                if (valMsg == "") {

                    return true;

                } else {
                    document.getElementById("lblValMessage").innerHTML = valMsg;
                    return false;
                }
            }
            else {
                document.getElementById("lblValMessage").innerHTML = valMsg;
                return false;
            }

        }
        $("#btnClear").on("click", function () {
            window.open("../TrainingPartner/CreateTrainingPartner", '_self', false);
        });

    });
    function AddJobRole() {
        document.getElementById("divToAddCriteria").setAttribute("style", "display:block;");
        ClearCriteriaDetails();
        CriteriaQBDropdown();
    }
</script>

<div class="col-lg-12">
    @{
        IEnumerable<StateListDO> stateList = ViewData["StateList"] as IEnumerable<StateListDO>;

    }
    @using (Html.BeginForm("ManageTrainingCenter", "TrainingCenter", FormMethod.Post))
    {

        <div class="page-header filled full-block light" style="margin-top:10px;">
            <div class="row">
                <h2 style="text-align:center; color:#92298e ; font-family:Calibri; font-size:25px; font-weight:bold; text-transform: uppercase;">Manage Training Center</h2>

                <table width="60%" align="center">
                    <tr>
                        <td align="left">
                            <div>
                                <label style="font-weight:bold;color:red;font-size:11px;" id="lblValMessage"></label>
                            </div>
                        </td>
                        <td align="right">
                            <div>
                                @Html.ActionLink("Back to Search", "ManageTrainingCenter", "TrainingCenter")
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="60%" align="center">
                    <tr>
                        <td class="pplBG">
                            <span>&nbsp;Create New Training Center</span>
                        </td>
                        <td align="right"></td>
                    </tr>
                </table><br />
                <table width="60%" align="center" class="tablesideborders">
                    <tr>
                        <td width="12%" class="shaalatxtright" style="height:26px;">
                            <font style="color:red;">*</font>TrainingCenter Name
                        </td>
                        <td width="22%">
                            @Html.TextBox("txtTCName", null, new { @class = "usertextbox", id = "txtTCName", maxlength = "50", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz ');" })
                        </td>
                        <td width="12%" class="shaalatxtright"><font style="color:red;"></font>TP ID</td>
                        <td width="22%">
                            @Html.TextBox("txtTPId", null, new { @class = "usertextbox", id = "txtTPId", maxlength = "50", onkeypress = "return allow(event, '0123456789');" })
                        </td>
                    </tr>
                    <tr>
                        <td width="12%" class="shaalatxtright" style="height:26px;"><font style="color:red;">*</font>
                            Training Center ID/Smart ID

                        </td>
                        <td width="22%">
                            @Html.TextBox("txtSmartId", null, new { @class = "usertextbox", id = "txtSmartId", maxlength = "50", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789');" })
                        </td>
                        <td width="12%" class="shaalatxtright" style="height:26px;">
                            SDMS ID
                        </td>
                        <td width="22%">
                            @Html.TextBox("txtSDMSID", null, new { @class = "usertextbox", id = "txtSDMSID", maxlength = "12", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789');" })
                        </td>
                    </tr>
                    <tr>
                        <td width="12%" class="shaalatxtright" style="height:26px;">
                            <font style="color:red;"></font>Center Address

                        </td>
                        <td width="22%">
                           @Html.TextBox("txtTCAddress", null, new { @class = "usertextbox", id = "txtTCAddress", maxlength = "12", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz 0123456789');" })
                        </td>
                        <td width="12%" class="shaalatxtright"><font style="color:red;"></font>Center Description
</td>
                        <td width="22%">
                            @Html.TextArea("txtTCDescription", null, new { @class = "usertextbox", id = "txtTCDescription", maxlength = "200", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz 0123456789');" })
                        </td>
                    </tr>
                    <tr>
                        <td width="12%" class="shaalatxtright" style="height:26px;"> TC Start Date
</td>
                        <td width="22%">
                            @Html.TextBox("txtCADate", "", new { @class = "usertextbox" })
                            <img src="../Images/Calendar_scheduleHS.png" width="20px" height="20px" alt="Calendar" style="vertical-align: middle;" />
                        </td>
                        <td width="12%" class="shaalatxtright"> <font style="color:red;">*</font>Poc name
 </td>
                        <td width="22%">
                            @Html.TextBox("txtPOCName", null, new { @class = "usertextbox", id = "txtPOCName", maxlength = "50", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz ');" })
                        </td>
                    </tr>
                    <tr>

                        <td width="12%" class="shaalatxtright"><font style="color:red;">*</font>POC mobile number
 </td>
                        <td width="22%">
                            @Html.TextBox("txtPOCMobile", null, new { @class = "usertextbox", id = "txtPOCMobile", maxlength = "10", onkeypress = "return allow(event, '0123456789');" })


                        </td>
                        <td width="12%" class="shaalatxtright" style="height:26px;">
                            <font style="color:red;">*</font> State

                        </td>
                        <td width="22%">
                            @Html.DropDownList("ddlStateList", new SelectList(stateList, "StateId", "StateName"), "-----Select-----", new { @class = "blueDropdown" })
                        </td>

                    </tr>
                    <tr>
                        <td width="12%" class="shaalatxtright" style="height:26px;">
                            City

                        </td>
                        <td width="22%">
                            @Html.TextBox("txtCityList", null, new { @class = "usertextbox", id = "txtCityList", maxlength = "50", onkeypress = "return allow(event, 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz ');" })
                        </td>
                    </tr>

                </table>
                <br />
                <table width="60%" align="center">

                    <tr><td style="height:10px;"></td></tr>
                    <tr>
                        <td align="center">
                            <input type="button" value="Clear" class="btn-report" id="btnClearSearch" />&nbsp;&nbsp;&nbsp;
                            <input type="button" value="Submit" class="btn-report" id="btnSubmit" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>
